Домашнее задание

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [26]:
import pandas as pd

Задание 1

In [32]:
data = pd.read_csv('ratings.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [33]:
data.head(10)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510
5       1     1088     4.0  1147868495
6       1     1175     3.5  1147868826
7       1     1217     3.5  1147878326
8       1     1237     5.0  1147868839
9       1     1250     4.0  1147868414

In [34]:
results = data[['movieId','rating']].value_counts(normalize=True).head(10)
results.head(1)

movieId  rating
318      5.0       0.001582
dtype: float64

In [35]:
results.index[0]

(318, 5.0)

In [36]:
results.values[0]

0.0015821139879668457

In [38]:
films = pd.read_csv('movies.csv')

In [39]:
films.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [40]:
films.query('movieId == 318').head()

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

In [41]:
print(f'Больше всего оценок 5.0 выставлено фильму с Id 318:\n {films.loc[314]}')

Больше всего оценок 5.0 выставлено фильму с Id 318:
 movieId                                 318
title      Shawshank Redemption, The (1994)
genres                          Crime|Drama
Name: 314, dtype: object

Задание 2

Задание 3