Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [4]:
import pandas as pd

In [5]:
ratings = pd.read_csv('ratings.csv')

In [6]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [27]:
def classifier(row):
    if row <= 2:
        return ('Low')
    if row > 2 and row <= 4:
        return ('Middle')
    if row >= 4.5:
        return ('High')
    return ('Undefined')

In [28]:
ratings['class'] = ratings['rating'].apply(classifier)

In [29]:
ratings

        userId  movieId  rating   timestamp   class
0            1       31     2.5  1260759144  Middle
1            1     1029     3.0  1260759179  Middle
2            1     1061     3.0  1260759182  Middle
3            1     1129     2.0  1260759185     Low
4            1     1172     4.0  1260759205  Middle
...        ...      ...     ...         ...     ...
99999      671     6268     2.5  1065579370  Middle
100000     671     6269     4.0  1065149201  Middle
100001     671     6365     4.0  1070940363  Middle
100002     671     6385     2.5  1070979663  Middle
100003     671     6565     3.5  1074784724  Middle

[100004 rows x 5 columns]

In [38]:
# все оценки фильмов классифицированы, неиндефицированных записей нет.
ratings['class'].value_counts(normalize=True)

Middle    0.637984
High      0.228171
Low       0.133845
Name: class, dtype: float64

In [40]:
0.637984+0.228171+0.133845

1.0