Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
ratings = pd.read_csv('ratings.csv')

In [3]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
def classifier(row):
    if row <= 2:
        return ('Low')
    if row > 2 and row <= 4:
        return ('Middle')
    if row >= 4.5:
        return ('High')
    return ('Undefined')

In [5]:
ratings['class'] = ratings['rating'].apply(classifier)

In [6]:
ratings

        userId  movieId  rating   timestamp   class
0            1       31     2.5  1260759144  Middle
1            1     1029     3.0  1260759179  Middle
2            1     1061     3.0  1260759182  Middle
3            1     1129     2.0  1260759185     Low
4            1     1172     4.0  1260759205  Middle
...        ...      ...     ...         ...     ...
99999      671     6268     2.5  1065579370  Middle
100000     671     6269     4.0  1065149201  Middle
100001     671     6365     4.0  1070940363  Middle
100002     671     6385     2.5  1070979663  Middle
100003     671     6565     3.5  1074784724  Middle

[100004 rows x 5 columns]

In [7]:
# все оценки фильмов классифицированы, неиндефицированных записей нет.
ratings['class'].value_counts(normalize=True)

Middle    0.637984
High      0.228171
Low       0.133845
Name: class, dtype: float64

In [8]:
0.637984+0.228171+0.133845

1.0

Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [9]:
df = pd.read_csv('keywords.csv')
df

                       keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
...                        ...       ...
99995   эльдорадо старый оскол      3705
99996      frigate для firefox      3630
99997                   укрсиб      3630
99998  погода в ялте на неделю      3688
99999                     ггму      3630

[100000 rows x 2 columns]

In [10]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'],'Северо-Запад': ['петербург', 'псков', 'мурманск'],'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [11]:
geo_data

{'Центр': ['москва', 'тула', 'ярославль'],
 'Северо-Запад': ['петербург', 'псков', 'мурманск'],
 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [12]:
def define_region(row):
    for region, cities in geo_data.items():
        for city in cities:
            if city in row['keyword']:
                return region
            else:
                return ('undefined')

In [13]:
df['region'] = df.apply(define_region, axis=1)
df

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]

In [14]:
df['region'].value_counts()

undefined    99716
Центр          284
Name: region, dtype: int64

In [15]:
df[df['region'] == 'Центр']

                                                keyword   shows region
127                                        авито москва  979292  Центр
1259                                             москва  153050  Центр
1396                                    гисметео москва  140279  Центр
1482                                   госуслуги москва  133061  Центр
1682                                      погода москва  151701  Центр
...                                                 ...     ...    ...
98388                  пилюли ру интернет аптека москва    3690  Центр
98679                                        геи москва    4205  Центр
98943  вакансии на авито москва от прямых работодателей    3738  Центр
99292                      афиша кино москва на сегодня    3704  Центр
99890                               яндекс метро москва    4548  Центр

[284 rows x 3 columns]