# Задание
Вопросы по заданию
Преподаватель: Олег Булыгин
Домашнее задание к лекции.
http://prntscr.com/uh35yg

Смоделировать игру против лотерейного автомата типа “777”. Игрок платит 1 руб., после чего выпадает случайное целое число, равномерно распределенное от 0 до 999. При некоторых значениях числа игрок получает выигрыш (см. справа)

Выгодна ли игра игроку?

Сколько в среднем приобретает
или теряет игрок за одну игру?

777: 200 руб.
999: 100 руб.
555: 50 руб.
333: 15 руб.
111: 10 руб.
*77: 5 руб.
**7: 3 руб.
*00: 2 руб.
**0: 1 руб.

– любая цифра
Дополнительное задание повышенной сложности. Теоретически рассчитать средний выигрыш (проигрыш) и сравнить с результатами моделирования

In [90]:
import numpy as np
import pandas as pd

In [91]:
# функция моделирует поведение игрового автомата
def revenue(var_):
    if var_ == 777:
        return(200)
    if var_ == 999:
        return(100)
    if var_ == 555:
        return(50)
    if var_ == 333:
        return(15)
    if var_ == 111:
        return(10)
    if var_ % 100 == 77:
        return(5)
    if var_ % 10 == 7:
        return(3)
    if var_ % 100 == 0:
        return(2)
    if var_ % 10 == 0:
        return(1)
    else:
        return(0)

In [92]:
trials = 10000000
total_revenue = 0
for i in range(trials):
    var = np.random.randint(0, 999)
    total_revenue += revenue(var)
print(total_revenue, trials, total_revenue - trials)

6983647 10000000 -3016353

# Вывод. Играть в автомат на таких условиях не выгодно!

In [93]:
print('На 1 ставку стоимостью 1 руб., автомат возвращает', total_revenue / trials, 'руб.')

На 1 ставку стоимостью 1 руб., автомат возвращает 0.6983647 руб.

In [94]:
print ('Убыточность автомата =', (total_revenue - trials) / trials,'%')

Убыточность автомата = -0.3016353 %

# Попробовал сделать теоретический расчет, но чего-то не учел, хотя убыточность игры в автомат подтверждается.

In [95]:
pd.read_excel('teor_exp2.xlsx')

             number  frequency   total  probability  prize revenue  math_exp
0               777        1.0  1000.0        0.001  200.0     199     0.199
1               999        1.0  1000.0        0.001  100.0      99     0.099
2               555        1.0  1000.0        0.001   50.0      49     0.049
3               333        1.0  1000.0        0.001   15.0      14     0.014
4               111        1.0  1000.0        0.001   10.0       9     0.009
5               X77        9.0  1000.0        0.009    5.0       4     0.036
6               XX7       90.0  1000.0        0.090    3.0       2     0.180
7               X00        9.0  1000.0        0.009    2.0       1     0.009
8               XX0       90.0  1000.0        0.090    1.0       0     0.000
9   остальные числа      797.0  1000.0        0.797    0.0      -1    -0.797
10              NaN        NaN     NaN          NaN    NaN   Total    -0.202

# Математическое ожидание выигрыша от 1 ставки = -0,202 руб. (убыток). Результат отличается от моделирования. Как использовать формулу полной вероятности не понял.